// Variables
$screen-xsm: 560px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$primary-color: #17A468;
$gray-light: #f5f5f5;
$gray: gray;
$white: white;
$black: black;
$font-color: #3A2A78;
$box-shadow-s: 0 2px 5px rgba(0, 0, 0, 0.15);
$box-shadow-m: 0 4px 10px rgba(0, 0, 0, 0.2);


.fa {
  font-weight: 900;
  display: inline-block;
  font-style: normal;
  font-feature-settings: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  // font-size: x-large;
  font-size: 1.4rem;
  cursor: pointer;
  text-transform: none;
  box-sizing: border-box;
  font-family: 'Font Awesome 5 Free';
  color: inherit;
  font: inherit;
}

.helpdesk-container {
  display: block;
  position: fixed;
  top: 10%;
  right: 0px;
  z-index: 31000;
  color: $font-color;
}

// Helpdesk Button - Bottom Right
.helpdesk-button {
  position: fixed;
  z-index: 31000;
  right: 10px !important;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $primary-color;
  color: $white;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  box-shadow: $box-shadow-s;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.1);
  }
}

// Helpdesk Panel - Slide-up Animation from Bottom Right
.helpdesk-panel {
  position: fixed;
  z-index: 30999;
  right: 10px;
  bottom: -100%; // Initially hidden below viewport
  width: 500px; // Adjust width as needed
  height: 75vh;
  background-color: $gray-light;
  box-shadow: $box-shadow-m;
  border: 1px solid $primary-color;
  border-radius: 8px;
  overflow-y: auto;
  transition: bottom 0.3s ease; // Smooth slide-up animation

  // Media query adjustments for responsiveness
  @media (max-width: $screen-xsm) {
    width: 300px;
    margin-left: 12px;
  }

  .helpdesk-content {
    padding: 20px;
    color: $font-color;
  }

    // Styling for chat messages
    .chatbot-message-box {
      border-radius: 4px;
      padding: 10px;
      margin-bottom: 10px;
      width: calc(100% - 20px);

      &.chatbot-question {
        background-color: $font-color;
        color: $white;
        margin-left: auto;
      }

      &.chatbot-answer {
        background-color: $gray-light;
        color: $black;
        margin-right: auto;
      }
    }

    #chatbot-loading-dots {
      font-size: 14px;
      font-weight: bold;
    }
    #chatbot-tab-form{
      .form-inline{
        flex-direction: column;
        // flex-flow: unset;
        align-items: flex-start;
      }

    }


    #chatbot-control-window {
      padding: 0;
      margin-bottom: 20px;
    }

    #chatbot-typing-area {
      width: 100%;
      border-radius: 4px;
      padding: 8px;
      margin-top: 10px;
    }

    #chatbot-enter-btn {
      background-color: $font-color;
      color: $white;
      padding: 10px;
      border: none;
      border-radius: 17.5px;
      cursor: pointer;
      width: 100%;
      margin-bottom: 10px;
      min-width: 50px;
      min-height: 40px;

      &:hover {
        background-color: $primary-color;
        border-color: $primary-color;
      }
    }

    .captcha{
      margin-top: 20px;
      .captcha__title{
        font-size: 14px;
      }
      .captcha__description{
        font-size: 14px;
      }
    }

    textarea {
      height: 100px;
    }

    select {
      padding: 5px;
      height: auto;
      width: 100%;
    }

    input[type=text], input[type=email] {
      height: auto;
    }
    .infobox.infobox-info {
      background-color: #ffffff;
      border-left: 5px solid $font-color;
      color: $font-color;
      font-size: 14px;
      margin-bottom: 12px;
    }

    .infobox {
      border: none;
          border-left-color: currentcolor;
          border-left-style: none;
          border-left-width: medium;
      border-radius: 0px;
      padding: 15px;

  }

    .infobox.infobox-info a {
      text-decoration: none;
      color: $primary-color;
    }

    label {
      font-size: small;
      font-weight: normal;
      margin-bottom: 5px;
      margin-top: 5px;
    }

    input, textarea, select {
      border-radius: 0px;
    }

    textarea, input[type=text], input[type=email]{
      width: 100%;
    }

    button {
      margin-right: 20px;
      margin-top: 20px;
      margin-bottom: 30px;
    }

    button:hover{
      background-color: $primary-color;
      border-color: $primary-color;
    }

    .buttons{
      display: flex;
    }

    .btn-default {
      // For reasons i cannot unfathom right now, the padding is off b 1px for this particular button...
      padding: 9px 14px;
    }

}

#chatbot-conversation {
  margin-top: 16px;
  border: 1px solid $gray;
  padding: 8px 16px;
  width: 100%;
  height: 40vh;
  overflow-y: auto;
  background-color: $white;
}

.helpdesk-closing-button {
  display: none;
}

// Tab Styles
#helpdesk-contact-tabs {
  list-style: none;
  display: block;
  position: relative;
  padding: 0;
  margin: 10px 0;
  padding: 0.8em;

  > li {
    float: left;
    margin: 0 10px;

    & > a.tab.active {
      color: $font-color;
    }
    & > a.tab:not(.active) {
      color: $font-color;
    }

    &:has(> a.tab.active) {
      // background-color: $primary-color;
      border-radius: 4px;
      padding: 4px;
      color: $font-color;
      background-color: #f1eefc;
      box-shadow: inset 0 -2px 0 #3a2a79;
    }
    &:has(> a.tab) {
      border-radius: 4px;
      padding: 4px;
      color: $font-color;
    }

    & > a:hover {
      text-decoration: none;
    }
  }
}

.row::before, .row::after {
  display: table;
  content: " ";
}

.row::after {
  clear: both;
  content: "";
  display: block;
}

#helpdesk-contact-tabs > li {
  float: left;
  margin: 0 10px;
}

#utterance--placeholder {
  display: none;
}


// Chatbot Message Styles
.chatbot-message-box {
  position: relative;
  text-align: left;
  width: 60%;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 5px;
}

.chatbot-question {
  margin-left: 40%;
  background-color: $font-color;
  color: $white;

  &::after {
    z-index: 1;
    display: inline-block;
    position: absolute;
    right: -10px;
    top: 0px;
    width: 0;
    height: 0;
    border-top: 16px solid $font-color;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: ' ';
  }
}

.chatbot-answer {
  background-color: $gray-light;
  color: $black;

  &::before {
    z-index: 1;
    display: inline-block;
    position: absolute;
    left: -10px;
    top: 0px;
    width: 0;
    height: 0;
    border-top: 16px solid $gray-light;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: ' ';
  }
}

#chatbot-control-window {
  padding: 0;
  margin-bottom: 20px;
  max-width: none;
}


// Additional Styles
#chatbot-typing-area {
  width: 100%;
}

#chatbot-loading-dots {
  font-size: 14px;
  font-weight: bold;
}

.helpdesk-success-message, .helpdesk-fail-message {
  padding: 70px;
  text-align: center;
  min-height: 400px;
}


.helpdesk-panel {
  & .helpdesk-default-box {
    margin: 15px 25px;

    @media (min-width: $screen-sm) { margin: 20px 30px }
    @media (min-width: $screen-md) { margin: 25px 35px }
    @media (min-width: $screen-lg) { margin: 20px 20px }
    display: none;

    & p { font-size: small;	}
    & textarea { resize: none; }
  }


  & .helpdesk-success-box {
    margin: 15px 25px;
    display: none;
    overflow-x: hidden;
  }

  & .helpdesk-error-box {
    overflow-x: hidden;
  }

  & .helpdesk-btn {
    width: 100%;
  }
}

// @keyframes dots {
//   0% { content: ''; }
//   33% { content: '.'; }
//   66% { content: '..'; }
//   100% { content: '...'; }
// }

// .loading-animation::after {
//   display: inline-block;
//   font-size: 2rem; // Adjust size as desired
//   letter-spacing: 0.3rem; // Add space between dots
//   content: '';
//   animation: dots 1s steps(3, end) infinite;
// }

.spinner {
  // margin: 0 auto;
  width: 70px;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 4px; // Space between dots
}

.spinner > div {
  width: 12px;
  height: 12px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  text-align: left;
  align-items:flex-start ;
  align-self: flex-start;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  animation-delay: -0.16s;
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1.0);
  }
}
