p.mt15
  = t(:'chatbot.text')

div#chatbot-conversation
form.form-inline
  .form-group.col-md-10#chatbot-control-window
    input.form-control#chatbot-typing-area type="text" placeholder=t(:'chatbot.placeholder')
  button.btn.btn-primary.helpdesk-brand.col-md-2#chatbot-enter-btn 
    = t(:'chatbot.send')
