p.mt15
  = t(:'helpdesk.text')

.infobox.infobox-info.mb5
  .xikolo-icon.icon-information.mr10.pull-left
  = t(:'helpdesk.notice')

form#helpdesk-form action="helpdesk" class="autoValidate" method="POST" accept-charset="utf-8"
  .form-group
    label.control-label for="issuetitle"
      = t(:'helpdesk.report_title')
    = text_field_tag(:issuetitle, nil, size: 30, maxlength: 60, placeholder: t(:'helpdesk.report_title'), required: true, class: 'form-control' )

  - unless current_user.logged_in?
    .form-group
      label.control-label for="issueemail"
        = t(:'helpdesk.email')
      = email_field_tag(:issueemail, nil, size: 30, maxlength: 60, placeholder: t(:'helpdesk.email'), required: true, class: 'form-control')

  .form-group
    label.control-label for="category"
      = t(:'helpdesk.topic')
    = select_tag(:category, grouped_options_for_select(@grouped_options, 0), class: 'form-control')

  .form-group
    label.control-label for="issuereport"
      = t(:'helpdesk.submission')
    textarea.form-control#issuereport name="issuereport" cols="50" rows="6" required=true

  - if current_user.feature?('chatbot.prototype-1')
    #chatbot-current-feature data-feature="chatbot-v1"
    #helpdesk-suggestions
      .result-text
        h5 = t(:'helpdesk.suggestion')
        p.js-text-insert
      .loading-text
        p = t(:'helpdesk.loading_suggestion')

  .clearfix
  .mb30.mt20
    = submit_tag t(:'helpdesk.submit'), id: 'issue-submit-button', class: 'btn btn-primary mr20 helpdesk-brand'
    #issue-cancel-button.issue-cancel-button.btn.btn-default
      = t(:'helpdesk.cancel')
