<div class="dimmer" style="opacity: 0; display: none;"></div>
<div class="helpdesk-container hidden-print">
  {#<button accesskey="h" class="js-helpdesk-button helpdesk-button" id="helpdesk-button" style="right: 559px;"></button>#}
  <button accesskey="h" class="js-helpdesk-button helpdesk-button" id="helpdesk-button" style="right: -1px;">
    <div class="button-label">
    {% trans %}
    Help
    {% endtrans %}
    </div>
  </button>
  <div class="helpdesk-panel" id="helpdesk-panel" >
    <div data-feature="default" id="chatbot-current-feature"></div>
    <div class="helpdesk-default-box" id="helpdesk-ajax-container" style="display: block;">
      <h4><span class="primary-color">KI-Campus</span> <span>Helpdesk</span></h4>
      <p class="mt15">{{ description }}</p>
      <div class="infobox infobox-info mb5">
        <div class="xikolo-icon icon-information mr10 pull-left"></div>{{ hint }}
      </div>
      {{ form }}
    </div>
    <div class="helpdesk-result-box" style="display: none;"></div>
  </div>
</div>
