<div class="dimmer" style="opacity: 0; display: none;"></div>
<div class="helpdesk-container hidden-print">
  <button accesskey="h" class="js-helpdesk-button helpdesk-button" id="helpdesk-button" style="right: -1px;">
    {# <div class="button-label">Hilfe</div> #}
    <img src="/modules/contrib/kic_helpdesk/img/chatbot.svg" alt="Help Icon">
  </button>
  <div class="helpdesk-panel" id="helpdesk-panel">
    <button aria-label="Schließen" class="helpdesk-closing-button" id="issue-closing-button">
      <span aria-hidden="true">
        <span class="xi-icon xi-icon-fa fa fa-times ">
        </span>
      </span>
    </button>
    <div data-feature="chatbot-v2" id="chatbot-current-feature"></div>
    <div class="helpdesk-default-box" id="helpdesk-ajax-container" style="display: block;">
      <h4>
        <span class="primary-color">Helpdesk </span>
      </h4>
      <ul class="row nav nav-tabs" id="helpdesk-contact-tabs" role="tablist">
        <li class="">
          <a  class="tab" data-toggle="tab" href="#chatbot-tab-form" name="helpdesk-chat" role="tab">
            Chatbot
          </a>
        </li>
        <li class="">
          <a  class="tab" data-toggle="tab" href="#helpdesk-tab-form" name="helpdesk-contact" role="tab">
            {{ 'Contact form'|t }}
          </a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="chatbot-tab-form" role:"tabpanel">
          <div id="chatbot-conversation">
            <div class="chatbot-answer chatbot-message-box" id="utterance--placeholder">
              <div class="has-spinner loading">
                <div class="spinner spinner--small">
                  <div class="bounce1"></div>
                  <div class="bounce2"></div>
                  <div class="bounce3"></div>
                </div>
              </div>
            </div>
          </div>
          <form class="form-inline">
            <div class="form-group col-md-10" id="chatbot-control-window">
              <input class="form-control" id="chatbot-typing-area" placeholder="Nachricht schreiben" type="text">
            </div>
            <a class="btn btn-primary col-md-2" id="chatbot-enter-btn">Senden</a>
          </form>
        </div>
        <div class="tab-pane" id="helpdesk-tab-form" role:"tabpanel">
          {# <p class="mt15">{{ description }}</p> #}
          <div class="infobox infobox-info mb5">
            <div class="xikolo-icon icon-information mr10 pull-left"></div>
            {{ hint }}
          </div>
          {{ form }}
          {# <form class="autoValidate" id="helpdesk-form" action="/helpdesk" accept-charset="UTF-8" method="post">
            <input type="hidden" name="original_session_user" value="e106fd5b-62c9-4385-861b-733cd9f840e1">
            <input name="utf8" type="hidden" value="✓">
            <input type="hidden" name="authenticity_token" value="kjKtq2/3PfsMZMfL/23XlJmJv+cDlOSU/9DgoevOsE6a8O9XnTeyaAGVZWjeGaEq/cyV25jt1wVKjpOuQUfk6A==">
            <div class="form-group">
              <label class="control-label" for="issuetitle">Titel für Ihre Anfrage</label>
              <input type="text" name="title" id="issuetitle" size="30" maxlength="60" placeholder="Titel für Ihre Anfrage" required="required" class="form-control">
            </div>
            <div class="form-group">
              <label class="control-label" for="category">Kategorie</label>
              <select name="category" id="category" class="form-control">
                <optgroup label="Allgemeine Frage">
                  <option value="technical">Technische Frage</option></optgroup>
              </select>
            </div>
            <div class="form-group">
              <label class="control-label" for="issuereport">Ihr Anliegen</label>
              <textarea class="form-control" cols="50" id="issuereport" name="report" required="" rows="6"></textarea>
            </div>
            <div class="clearfix"></div>
            <div class="mb30 mt20">
              <input type="submit" name="commit" value="Anfrage absenden" id="issue-submit-button" class="btn btn-primary mr20 helpdesk-brand" data-disable-with="Anfrage absenden">
              <button class="btn btn-default helpdesk-widget-only" data-behavior="close-helpdesk">Abbrechen</button>
            </div>
          </form> #}
        </div>
      </div>
    </div>
    <div class="helpdesk-result-box" style="display: none;"></div>
  </div>
</div>
