h4
  span.primary-color.helpdesk-brand = t(:'helpdesk.headline.brand')
  span = t(:'helpdesk.headline.remainder')
  
- if current_user.feature?('chatbot.prototype-2')
  #chatbot-current-feature data-feature="chatbot-v2"
  ul.helpdesk-contact-tabs.row role="tablist"
    li.active.col-md-5
      a.tab.active role="tab" aria-expanded=true data-toggle="tab" href="#chatbot-tab-form" name="helpdesk-chat"
        h5 = t(:'helpdesk.chat')
    li.col-md-5
      a.tab role="tab" aria-expanded=true data-toggle="tab" href="#helpdesk-tab-form" name="helpdesk-contact"
        h5 = t(:'helpdesk.contact')
  div.tab-content
    div.tab-pane.fade.in.active#chatbot-tab-form
      = render(partial: 'chatbot')
    div.tab-pane.fade#helpdesk-tab-form
      = render(partial: 'form')
- else
  = render(partial: 'form')
